/* FONTS */
h2,
caption {
  font-size: 1.5rem;
  margin: 0;
}
h3 {
  font-size: 1.2rem;
}

/* FOOTER */

.copyright,
#copyright {
  color: #ffffff;
  margin: 0;
  background-color: black;
  text-align: center;
}
th,
td {
  border: 1.2px black solid;
  padding: 0.2em 0.5em;
  text-align: center;
  overflow: hidden;
}
footer,
.mail a,
.tel a,
address a {
  color: #ffffff;
}
table {
  border: 4px black solid;
  border-spacing: 0px;
  table-layout: fixed;
}
.footer--col {
  text-align: center;
  width: 95%; /* Consolidated declaration */
  vertical-align: middle; /* Consolidated declaration */
}
.title {
  font-weight: 500 !important;
}
footer {
  max-width: 100vw;
}
.footer--container {
  row-gap: 1em;
  padding-top: 0.5em;
  background-color: #5c5c5c;
  overflow: hidden;
  /* padding-left: 1em;
  padding-right: 1em; */
  display: grid;
  grid-template-rows: calc(
    var(--responsive-size) * 14 + 5px
  ); /* Updated value */
  justify-items: center;
  align-items: center;
  grid-template-columns: 30% 30% 40%;
  gap: 0.3em;
  /* padding-bottom: 1.5em; */
}
.spacer {
  height: 1em;
}
a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1400px) and (max-width: 1800px) {
  .footer--container {
    grid-template-rows: calc(var(--responsive-size) * 14.5);
  }
  .map--iframe {
    height: calc(var(--responsive-size) * 10.5);
  }
}
@media screen and (min-width: 1800px) and (max-width: 2300px) {
  .footer--container {
    grid-template-rows: calc(var(--responsive-size) * 13.5);
  }
  .map--iframe {
    height: calc(var(--responsive-size) * 10.5);
  }
}
@media screen and (min-width: 2300px) and (max-width: 3000px) {
  .footer--container {
    grid-template-rows: calc(var(--responsive-size) * 12.5);
  }
  .map--iframe {
    height: calc(var(--responsive-size) * 10.5);
  }
}
@media screen and (min-width: 769px) {
  .map,
  .map--col {
    visibility: visible;
    width: 100%;
  }
  .mobile--spacer {
    display: none;
  }
  table {
    width: 96%;
  }
  .footer {
    height: 50%;
    object-fit: cover;
  }
  .map--iframe {
    object-fit: contain;
    width: 100%;
    max-height: 300px;
    height: calc(var(--responsive-size) * 13.5);
  }
  .map {
    overflow-wrap: anywhere;
    position: relative;
    width: 100%;
    flex-grow: 3;
  }
  .footer--col a,
  p {
    word-wrap: break-word;
  }
  .table--div {
    max-width: none;
    width: 96%;
  }
  .wrapper {
    width: 100%;
    object-fit: contain;
  }
  .wrapper li {
    margin-top: 10px;
  }

  th,
  td {
    padding: 0.1em 0.3em;
  }
}
.table--div {
  margin: 0 auto;
}
.wrapper ul {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (min-width: 769px) and (max-width: 960px) {
  table th {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 2ch;
  }
}
.contact--wrapper {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.map--iframe {
  width: 100%;
}
@media screen and (min-width: 319px) and (max-width: 769px) {
  .map--iframe {
    height: 96%;
  }
  .footer--container {
    display: grid;
    justify-items: center;
    row-gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: minmax(100px, 200px) 1fr minmax(150px, 350px);
  }
  .footer--col--map {
    grid-row: 3/4;
  }
  .mail a {
    font-size: 1em;
  }
  .mail {
    margin: 0;
    padding: 0;
  }
  .wrapper li {
    margin-top: 0.85em;
  }
  a {
    color: black;
  }
  .table--div table,
  .table--div {
    width: 100%;
  }
  .footer--col {
    height: 100%;
    max-width: 650px;
    justify-self: center;
  }
  /* idk */
  .wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: auto;
  }
}
