/* FONTS  */

h1 {
  font-size: 1.8rem;
}
h2,
caption {
  font-size: 1.5rem;
  margin: 0;
}
h3 {
  font-size: 1.2rem;
}

/* FOOTER */
.about {
  margin: 0 auto;
}
.copyright,
#copyright {
  color: #ffffff;
  margin: 0;
  background-color: black;
  text-align: center;
}
th,
td {
  border: 1.2px black solid;
  padding: 0.2em 0.5em;
  text-align: center;
  overflow: hidden;
}
footer,
.mail a,
.tel a,
address a {
  color: #ffffff;
}
table {
  border: 4px black solid;
  border-spacing: 0px;
  table-layout: fixed;
}

.footer__col {
  text-align: center;
}

.title {
  font-weight: 500 !important;
}

.footer__container {
  row-gap: 1em;
  padding-top: 0.5em;
  background-color: #5c5c5c;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
}

.spacer {
  height: 1em;
}

@media screen and (min-width: 760px) {
  .map,
  .map__col {
    visibility: visible;
    width: 100%;
  }

  .mobile__spacer {
    display: none;
  }
  table {
    width: 100%;
  }
  .footer {
    height: 50%;
    object-fit: cover;
  }

  .footer__container {
    align-items: start;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-columns: 30% 30% 40%;
    gap: 5px;
  }
  .map__iframe {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .map {
    overflow-wrap: anywhere;
    position: relative;
    width: 100%;
    flex-grow: 3;
  }
  .footer__col a,
  p {
    word-wrap: break-word;
  }

  .table__div {
    max-width: none;
    width: 100%;
  }

  .wrapper {
    width: 100%;
    object-fit: contain;
  }
  .wrapper li {
    margin-top: 10px;
  }

  .map__iframe {
    object-fit: contain;
    width: 100%;
    height: 14em;
    margin-top: auto;
    margin-bottom: auto;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .footer__col {
    vertical-align: middle;
    width: 100%;
  }

  .wrapper {
    width: 100%;
    vertical-align: middle;
    margin: auto;
  }

  th,
  td {
    padding: 0.1em 0.3em;
  }
}
.table__div {
  margin: 0 auto;
}
.footer__col {
  width: 95%;
  vertical-align: middle;
}
.wrapper ul {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (min-width: 760px) and (max-width: 960px) {
  table th {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 2ch;
  }
}

.contact__wrapper {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.map__iframe {
  width: 100%;
}
@media screen and (min-width: 319px) and (max-width: 765px) {
  .map__iframe {
    height: 48vh;
  }
  .footer__container {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: minmax(100px, 240px) repeat(2, 1fr);
  }
  .footer__col__map {
    grid-row: 3/4;
  }
  .mail a {
    font-size: 1em;
  }
  .mail {
    margin: 0;
    padding: 0;
  }

  .wrapper li {
    margin-top: 0.85em;
  }

  a {
    text-decoration: none;
    color: black;
  }
  .table__div table,
  .table__div {
    width: 100%;
  }
  .footer__col {
    vertical-align: middle;
    justify-self: center;
  }

  .wrapper {
    width: 100%;
    vertical-align: middle;
    max-width: 100%;
    margin: auto;
  }
}
