.container__cards {
  /* Might remove later max width and margin: auto !!! */
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 140px;
  padding-bottom: 1em;
}
body {
  background-color: #d2d2d2;
}
.product-card {
  width: 225px;
  border-radius: 10px;
  box-shadow: 0px 0px 47px -20px rgba(0, 0, 0, 1);
  background-color: #fff;
}
@media screen and (max-width: 426px) {
  .product-card {
    width: 90%;
  }
}
.product-image {
  height: 300px;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s;
  border-radius: 10px;
}

.product-image:hover img {
  transform: scale(1.1);
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;

  margin-bottom: 10px;
  color: #666;
}

.product-details.expand {
  height: auto;
}

.product-details .expand-button {
  cursor: pointer;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 10px;
}

.product-details .expand-button:hover {
  color: #000;
  text-decoration: underline;
}
.buttons {
  text-align: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

/* 





*/
.cart-button {
  position: relative;
  outline: 0;
  color: #fff;
  border: none;
  height: 48px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  line-height: 0px;
  overflow: hidden;
  cursor: pointer;
}

.cart-button:focus {
  outline: none !important;
}

.cart-button .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -20%;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}

.cart-button .fa-square {
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 53%;
  font-size: 0.8em;
  transform: translate(-50%, -50%);
}

.cart-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  width: 100%;
  transform: translate(-50%, -50%);
}

.cart-button span.added {
  opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
  animation: cart 1s ease-in forwards;
}

.cart-button.clicked .fa-square {
  animation: box 1s ease-in forwards;
}

.cart-button.clicked span.add-to-cart-span {
  animation: addcart 1s ease-in forwards;
}

.cart-button.clicked span.added {
  animation: added 1s ease-in forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 36%;
    left: 53%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes addcart {
  0%,
  30% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

@keyframes added {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 






*/

.add-to-cart {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart {
  background-color: #5c5c5c;
}

.compare {
  background-color: #cac531;
  color: #fff;
}

.add-to-cart:hover,
.compare:hover {
  opacity: 0.8;
}

.modal,
.cartModal-checkout {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,
.cartModal-checkout {
  background-color: #d2d2d2;
  margin: 15% auto;
  margin-top: 90px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close button style */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.checkoutbutton {
  position: relative;
  outline: 0;
  color: #fff;
  background-color: #5c5c5c;
  border: none;
  height: 48px;
  /* width: 100%; */
  padding: 10px;
  border-radius: 10px;
  line-height: 0px;
  overflow: hidden;
  cursor: pointer;
}
.cart-content {
  list-style: none;
}

/* #region pay */

.cartModal-checkout-form {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 90%;
}
form {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  margin: 20px 0;
}

.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

label {
  position: relative;
  color: #8898aa;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #f0f5fa;
}

label > span {
  width: 120px;
  text-align: right;
  margin-right: 30px;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325f;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}

.field::-webkit-input-placeholder {
  color: #cfd7e0;
}

.field::-moz-placeholder {
  color: #cfd7e0;
}

form button {
  float: left;
  display: block;
  background: #666ee8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

form button:focus {
  background: #555abf;
}

form button:active {
  background: #43458b;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success,
.error {
  display: none;
  font-size: 13px;
}

.success.visible,
.error.visible {
  display: inline;
}

.error {
  color: #e4584c;
}

.success {
  color: #666ee8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}
/* #endregion pay */
