.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 180px;
  /* margin-top: 50px; */
}
.product-image img {
  /* max-height: 9em; */
}
.product-card {
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 47px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 47px -20px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 47px -20px rgba(0, 0, 0, 1);
  /* margin: 60px 0px 60px 0px; */
  background-color: #fff;
}

.product-image {
  height: 300px;
  overflow: hidden;
  position: relative;
  top: -90px;
  padding: 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s;
  border-radius: 10px;
}

.product-image:hover img {
  transform: scale(1.1);
}

.product-details {
  padding: 20px;
  margin-top: -90px;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #666;
}

.product-details.expand {
  height: auto;
}

.product-details .expand-button {
  cursor: pointer;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 10px;
}

.product-details .expand-button:hover {
  color: #000;
  text-decoration: underline;
}
.buttons {
  text-align: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.add-to-cart {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart {
  background-color: #666;
}

.compare {
  background-color: #cac531;
  color: #fff;
}

.add-to-cart:hover,
.compare:hover {
  opacity: 0.8;
}

.credit a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

.credit {
  color: #000;
  text-align: center;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
