.container__cards {
  /* Might remove later max width and margin: auto !!! */
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 140px;
  padding-bottom: 1em;
}
body {
  background-color: #d2d2d2;
}
.product-card {
  width: 225px;
  border-radius: 10px;
  box-shadow: 0px 0px 47px -20px rgba(0, 0, 0, 1);
  background-color: #fff;
}
@media (max-width: 426px) {
  .product-card {
    width: 90%;
  }
}
.product-image {
  height: 300px;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s;
  border-radius: 10px;
}

.product-image:hover img {
  transform: scale(1.1);
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;

  margin-bottom: 10px;
  color: #666;
}

.product-details.expand {
  height: auto;
}

.product-details .expand-button {
  cursor: pointer;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 10px;
}

.product-details .expand-button:hover {
  color: #000;
  text-decoration: underline;
}
.buttons {
  text-align: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

/* 





*/
.cart-button {
  position: relative;
  outline: 0;
  color: #fff;
  border: none;
  height: 48px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  line-height: 0px;
  overflow: hidden;
  cursor: pointer;
}

.cart-button:focus {
  outline: none !important;
}

.cart-button .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -20%;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}

.cart-button .fa-square {
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 53%;
  font-size: 0.8em;
  transform: translate(-50%, -50%);
}

.cart-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  width: 100%;
  transform: translate(-50%, -50%);
}

.cart-button span.added {
  opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
  animation: cart 1s ease-in forwards;
}

.cart-button.clicked .fa-square {
  animation: box 1s ease-in forwards;
}

.cart-button.clicked span.add-to-cart-span {
  animation: addcart 1s ease-in forwards;
}

.cart-button.clicked span.added {
  animation: added 1s ease-in forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 36%;
    left: 53%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes addcart {
  0%,
  30% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

@keyframes added {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 






*/

.add-to-cart {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart {
  background-color: #5c5c5c;
}

.compare {
  background-color: #cac531;
  color: #fff;
}

.add-to-cart:hover,
.compare:hover {
  opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #d2d2d2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close button style */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.checkoutbutton {
  position: relative;
  outline: 0;
  color: #fff;
  background-color: #5c5c5c;
  border: none;
  height: 48px;
  /* width: 100%; */
  padding: 10px;
  border-radius: 10px;
  line-height: 0px;
  overflow: hidden;
  cursor: pointer;
}
